a {
  color: inherit;
  text-decoration: none;
}
.block_section {
  width: 100%;
  float: left;
  clear: both;
}
/*  HEADER */
.topheader {
  background-color: #e0353b;
}
.header_top {
  background-color: #e0353b;
}
.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_left h3 {
  font-size: 15px;
  font-weight: 600;
  color: #7b0308;
  margin-left: 37px;
}
.header_right {
  background-color: #ba242a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__bottomarrow {
  margin-left: 14px;
  margin-right: 5px;
}
/* .dropdown_lang a {
    border: 1px solid;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
  } */
.header_right h3 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.header__search {
  margin-left: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input__search {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid;
  border-color: #e0353b;
  outline: 0;
  color: #fff;
}
.header__search img {
  margin-top: 5px;
}
.headerWrap {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 180px;
}
.log2 {
  margin-right: 232px;
}
.nav_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.li__items li {
  margin-right: 28px;
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid;
  border-color: #e0353b;
  padding: 15px 20px;
  border: none;
}
.newsletter_tag li {
  margin-right: 0;
  font-size: 13px;
  font-weight: 600;
  padding: 15px 20px;
}
.nav_wrapper li:hover {
  border: 1px solid;
  color: #e0353b;
}
.nav_wrapper li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 30px;
}
