a {
  color: inherit;
  text-decoration: none;
}
.block_section {
  width: 100%;
  float: left;
  clear: both;
}
/*  HEADER */
.topheader {
  background-color: #e0353b;
}
.header_top {
  background-color: #e0353b;
}
.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_left h3 {
  font-size: 15px;
  font-weight: 600;
  color: #7b0308;
  margin-left: 37px;
}
.header_right {
  background-color: #ba242a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__bottomarrow {
  margin-left: 14px;
  margin-right: 5px;
}
/* .dropdown_lang a {
    border: 1px solid;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
  } */
.header_right h3 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.header__search {
  margin-left: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input__search {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid;
  border-color: #e0353b;
  outline: 0;
  color: #fff;
}
.header__search img {
  margin-top: 5px;
}
.headerWrap {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 180px;
}
.log2 {
  margin-right: 232px;
}
.nav_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.li__items li {
  margin-right: 28px;
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid;
  border-color: #e0353b;
  padding: 15px 20px;
  border: none;
}
.newsletter_tag li {
  margin-right: 0;
  font-size: 13px;
  font-weight: 600;
  padding: 15px 20px;
}
.nav_wrapper li:hover {
  border: 1px solid;
  color: #e0353b;
}
.nav_wrapper li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 30px;
}
.banner_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.photo {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  height: 608px;
}
.gradient {
  position: absolute;
  bottom: 0;
}
.title__wrapper {
  position: absolute;
  bottom: 62px;
  left: 285px;
}
.title__wrapper h1 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.title__wrapper h3 {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}
.boxes_section {
  background: #f2f2f2;
  padding-top: 71px;
  padding-bottom: 27px;
}
.box {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 46px;
}
.box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.box__content {
  background-color: #fff;
  padding-left: 23px;
  padding-top: 25px;
}
.box__content h3 {
  font-size: 21px;
  padding-right: 79px;
  color: #e63d42;
  line-height: 26px;
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 10px;
}
.box__content span {
  color: #a0a0a0;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
}
.box__content p {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  padding-top: 20px;
  color: #464646;
  padding-right: 18.8px;
  padding-bottom: 38px;
}
.morenews {
  background: #e0353b;
}
.news__content {
  background-image: url(../images/register.svg);
  height: 340px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.news__content p {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  width: 518px;
  text-align: center;
}
.news__content button {
  background: #fff;
  width: 336px;
  font-size: 25px;
  height: 73px;
  margin-top: 35px;
  font-weight: 700;
  display: flex;
  color: #e73d43;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.register--button h2 {
  font-size: 25px;
  font-weight: 700px;
  margin-right: 28px;
}
.news__content button:hover {
  border: 1px solid black;
  outline: 1;
  cursor: pointer;
}
.videonews {
  background: url(../images/videoimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.news_video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 600px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.news_video h4 {
  font-size: 37px;
  color: #fff;
  line-height: 56px;
  font-weight: 400;
  text-align: center;
  width: 852px;
  margin-top: 175px;
  margin-bottom: 55px;
}
.news__video--button {
  border: 1px solid #e73d43;
  font-size: 25px;
  font-weight: 400;
  padding: 31px 35px 33px;
  color: #e73d43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news__video--button img {
  margin-left: 39px;
}
.news__video--button:hover {
  color: #fff;
  background: red;
  border: 1px solid transparent;
}
.sponsors_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sponsors__content {
  width: 498px;
  text-align: center;
}
.sponsors__content h1 {
  font-size: 35px;
  line-height: 56px;
  font-weight: 400;
  margin-top: 123px;
  margin-bottom: 33px;
}
.sponsors__content p {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}
.sponsors__content p:last-child {
  margin-top: 40px;
  margin-bottom: 83px;
}
.sponsors__event {
  text-align: center;
  width: 100%;
}
.sponsors__event h2 {
  font-size: 25px;
  color: #000000;
  line-height: 25px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 8px;
}
.sponsors__event span {
  width: 225px;
  height: 2px;
  background: #e73d43;
  margin-top: 8px;
}
.sponsors__event--logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sponsors__event--logos img {
  margin-right: 64px;
}
.sponsors__event--logos img:last-child {
  margin-right: 0;
}
.contact {
  background: #f2f2f2;
}
.contact_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 83px;
  padding-bottom: 96px;
}
.contact_wrapper h1 {
  font-size: 35px;
  line-height: 25px;
  font-weight: 400;
  color: #e73d43;
  margin-bottom: 15px;
}
.contact_wrapper p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #464646;
  width: 390px;
  margin-bottom: 37px;
  text-align: center;
}
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form__wrapper label {
  padding-top: 25px;
}
.form__input--email {
  background: #fff;
  outline: 0;
  border: none;
  width: 464px;
  height: 67px;
  color: #b7b7b7;
}
.contact_wrapper--submit {
  background: #e73d43;
  border: none;
  outline: 0;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  height: 67px;
  margin-top: 37px;
}
/*  END FOOTER */
.footerWrap {
  background-color: #292929;
  height: 87px;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}
.left__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7b7b7b;
}
.left__footer p {
  font-size: 15px;
  font-weight: 600;
  margin-left: 26px;
}
.right__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7b7b7b;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: 600;
}
/* // BLOG STYLE */

.blog {
  background-color: #e0353b;
}
.blog_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 192px;
}
.blog_left {
  width: 723px;
  background: url(../images/icon-forks.svg);
}
.blog_left h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 69px;
}
.blog_right {
  background-image: url(../images/videoimage.jpg);
  background-size: cover;
  width: 1197px;
}
.blog_right h4 {
  font-size: 33px;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
  margin-top: 55px;
  width: 516px;
  margin-left: 235px;
}
.mainbox {
  background-color: #f2f2f2;
  padding-top: 73px;
}
.mainbox_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.mainbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 82px;
}
.mainbox__content h3 {
  font-size: 50px;
  line-height: 61px;
  color: #e63d42;
  font-weight: 600;
}
.mainbox__content p {
  font-size: 17px;
  color: #464646;
  line-height: 26px;
}
.mainbox__content span {
  color: #a0a0a0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 30px;
}
/* END OF BLOG PAGE */
/* CONTACT PAGE */
.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 210px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title h1 {
  width: 1145.31px;
  font-size: 50px;
  line-height: 61px;
  color: #e63d42;
  font-weight: 600;
}
.content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article {
  padding-right: 85px;
}
.article_image {
  margin-bottom: 28px;
}
.article p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 500px;
  color: #464646;
  margin-bottom: 45px;
  width: 673.1px;
}
.article span:first-child {
  padding-top: 50px;
}
.article p span {
  font-size: 50px;
  color: #e73d43;
}
.article h3 {
  font-size: 25px;
  font-weight: 600;
  color: #242424;
  margin-bottom: 10px;
}
.article h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  color: #e63d42;
  font-size: 30px;
  margin-bottom: 48px;
}
.article__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 67px;
}
.article__icons h5 {
  font-size: 18px;
  font-weight: 600;
  color: #464646;
  margin-left: 16px;
}
.aside_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 524px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.aside__contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-right: 60px;
}
.aside_contact h1 {
  font-size: 29px;
  line-height: 25px;
  color: #e0353b;
  margin-top: 82.1px;
  margin-bottom: 28px;
}
.aside_contact p {
  width: 384px;
  font-size: 18px;
  color: #464646;
  line-height: 25px;
  margin-bottom: 31px;
}
.aside__contact-wrapper label {
  padding-top: 25px;
}
.aside__text--news {
  font-size: 22px;
  font-weight: 600;
  color: #e0353b;
  margin-top: 46.3px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 22.1px;
}
.aside__text--news::after {
  content: "";
  width: 458px;
  height: 1px;
  background: #242424;
  position: absolute;
  left: 0;
  bottom: 0;
}
.aside__boxes {
  width: 458.59px;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.aside__boxes img {
  width: 458.59px;
  height: 234.1px;
}
.aside__boxes--content {
  background: #fff;
  margin-bottom: 35px;
  padding: 26.6px 96px 23.6px 23px;
}
.aside__boxes--content h3 {
  font-size: 22px;
  color: #e63d42;
  line-height: 26px;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 1px;
}
.aside__boxes--content span {
  color: #a0a0a0;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
}
.aside__boxes:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
